<!DOCTYPE html>
<html>
  <head>
    <title>Route Finder: Home</title>
  </head>
  <body>
    <a href="/"><h1>Route Finder</h1></a>
    <div>
      <a href="/routes/"><h2>List of routes</h2></a>
    </div>
    <div>
      <a href="/hikers/"><h2>List of hikers</h2></a>
    </div>
  </body>
</html>