<!DOCTYPE html>
<html>
  <head>
    <title>Route Finder: Home</title>
  </head>
  <body>
    <a href="/"><h1>Route Finder</h1></a>
    <nav>
      <ul>
      <li><a rel="routes" href="/routes/">All Routes</a></li>
      <li><a rel="hikers" href="/hikers/">All Hikers</a></li>
    </ul>
  </nav>
  </body>
</html>